{% load staticfiles %}
<html>
    <head>
        <title>QueryForce</title>
        <link rel="stylesheet" href="{% static 'queryforce/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'queryforce/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'queryforce/css/qf.css' %}">
        <link rel="stylesheet" href="{% static 'queryforce/css/datatables.min.css' %}">
        <!-- <script data-main="{% static 'queryforce/js/main.js' %}" src="{% static 'queryforce/js/require.js' %}"></script> -->
        <script src="{% static 'queryforce/js/lib/jquery.js' %}"></script>
        <script src="{% static 'queryforce/js/lib/bootstrap.js' %}"></script>
        <script src="{% static 'queryforce/js/lib/datatables.js' %}"></script>
        <script src="{% static 'queryforce/js/app/rptParams.js' %}"></script>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/queryforce">QueryForce</a></h1>
        </div>
        <div class="content container">
            <div class="row">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>