{% extends 'queryforce/base.html' %}

{% block content %}
    <div>
        <h1 id='report_name'>{{ report.name }}</h1>
    </div>
    {% if formset %}
    <div id="params_div" data="Unset">
        <form class="form-inline" id="params_form">
            {% csrf_token %}
            {{ formset.management_form }}

            {% for param_form in formset %}
                <div class='parameter-formset form-group'>
                    {{ param_form }}
                </div>
            {% endfor %}
            <button id="set_params" class="btn btn-default">Submit</button>
        </form>
    </div>
    {% else %}
    <div id="params_div" data="None"></div>
    {% endif %}    
    <div id="tbldv" data="{% url 'queryforce:raw_results' report.id %}">
        <table id="result_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                {% for rule in report.display_rules %}
                    <th data="{{ rule.data }}">{{ rule.name }}</th>
                {% endfor %}
                </tr>
            </thead>
        </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            var rules = []
            $('#result_table > thead > tr > th').each(function(){ 
                rules.push({data: $(this).attr('data')});
            });
            var raw = $('#tbldv').attr('data')
            var params = $('#params_div').attr('data')
            if (params == "None") {
                $('#result_table').DataTable({
                    "ajax": raw,
                    "columns": rules
                });
            } else {
                $('#result_table').hide();
            }
            $('#set_params').click(function( event ){
                event.preventDefault();
                var form_data = $('#params_form').serializeArray();
                var param_data = {}
                $(form_data).each(function(){
                    var fd_obj = $(this)[0].name.split('-');
                    if (fd_obj.length == 3) {
                        var param_datum = param_data[fd_obj[1]] || {};
                        param_datum[fd_obj[2]] = $(this)[0].value;
                        param_data[fd_obj[1]] = param_datum;
                    }
                });
                var params_string = []
                $(param_data).each(function(){
                    var param_string = [];
                    param_string.push($(this)[0][0]['parameter']);
                    param_string.push($(this)[0][0]['operator']);
                    param_string.push("'" + $(this)[0][0]['value'] + "'");
                    params_string.push(param_string.join(''));
                });
                var purl = raw.replace('raw', 'param');
                var rdata = {};
                rdata['ps'] = params_string.join(' AND ');
                $('#result_table').show();
                var table = $('#result_table').DataTable({
                    ajax: { 
                        url: purl,
                        data: rdata},
                    columns: rules
                });
                var bc = $('.col-sm-6:eq(1) > div', table.table().container() )
                new $.fn.dataTable.Buttons( table, { 
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            text: 'Export',
                            filename: $('#report_name').text()
                        }
                    ] 
                } );
                var btn = table.buttons( 0, null ).container();
                $(bc).append( btn );
            });
        });
    </script>
{% endblock %}